@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

:root {
  --white-color: #fff;
  --black-color: #000;
  --orange-color: #c34415;
  --yellow-color: #ffd13b;
  --dark-gray-color: #555555;
  --blue-color: #009bd6;
  --dark-gray-color-hover: hsl(0, 0%, 45%);
  --light-gray-color: #a4a4a4;
  --pink-color: #ec2d6c;
  --pink-color-hover: hsl(340, 83%, 60%);
  --dark-green: #547974;
  --dark-green-hover: hsl(172, 18%, 35%);
  --dark-color: #2d2d2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Navbar */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-area {
  background-position: center center;
  background-size: cover;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
}

.navbar-area {
  background-color: transparent;
  padding: 0.3em;
  transition: background 0.5s ease-in-out;
}

.navbar-scroll {
  background: var(--black-color);
}

.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Site Logo */
a.site-logo {
  width: 15em;
  height: 3em;
}

a.site-logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* Nav Links */
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.site-navbar ul li a {
  color: var(--white-color);
  padding: 1.5em 1.1em;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
}

.site-navbar ul li a::after {
  content: "";
  background: var(--white-color);
  width: 0%;
  height: 0.25em;
  position: relative;
  top: 0.5em;
  display: block;
  transition: width 0.5s ease-in-out;
}

.site-navbar ul li a:hover::after {
  width: 100%;
}

/* Hamburger Icon */
.nav-toggler {
  border: none;
  outline: none;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: var(--white-color);
  display: block;
  transition: 0.3s;
}

.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}

.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}

.nav-toggler.toggler-open span {
  background-color: transparent;
}

.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}

/* Navbar Mobile View */
@media screen and (max-width: 48em) {
  .container {
    max-width: 720px;
  }

  .navbar-area {
    background: var(--black-color);
  }

  .nav-toggler {
    display: block;
  }

  .site-navbar {
    min-height: 60px;
    justify-content: flex-start;
  }

  /* Site Logo */
  a.site-logo {
    margin-left: 1em;
  }

  /* Nav Links */
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    background-color: var(--black-color);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
  }

  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }

  .site-navbar ul li a {
    background: transparent;
    padding: 1.2em;
    transition: background 0.5s ease-in-out;
  }

  .site-navbar ul li a:hover {
    background: var(--orange-color);
  }

  .site-navbar ul li a:hover::after {
    width: 0;
  }

  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }

  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
}

/* Guides Hero Section */
.guides-hero-section {
  background: url("/assets/guidesandmapspage/WaterFalls.jpg"),
    rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  height: 40em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guides-hero-section .guides-hero-content {
  margin: 0em 1.3em 0em 1.3em;
}

.guides-hero-section .guides-hero-content h1 {
  color: var(--white-color);
  font-size: min(max(2rem, 4vw), 3.3rem);
  width: min(100%, 15em);
  text-align: center;
}

/* Planning Section */
.planning-section {
  display: flex;
  justify-content: center;
  background: var(--orange-color);
  padding: 2.5em 1.5em;
}

.planning-section .planning-section-content {
  width: min(90%, 40em);
}

.planning-section .planning-section-content h1 {
  color: var(--white-color);
  text-align: center;
  font-size: min(max(1.7rem, 3.5vw), 2.5rem);
}

.planning-section .planning-section-content p {
  color: var(--white-color);
  text-align: center;
  font-size: min(max(1rem, 1.5vw), 1.3rem);
  margin-top: 1.25em;
}

@media screen and (min-width: 48em) {
  .planning-section {
    padding: 2.5em 2.7em;
  }
}

/* Guide Card 1 */
.guide-card-1-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em 1.2em;
}

.guide-card-1-section .guide-card-1-image {
  width: 100%;
}

.guide-card-1-section .guide-card-1-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.guide-card-1-section .guide-card-1-content {
  margin-top: 2em;
}

.guide-card-1-section .guide-card-1-content h1 {
  color: var(--black-color);
  font-size: min(max(1.8rem, 3vw), 2.3rem);
}

.guide-card-1-section .guide-card-1-content p {
  color: var(--black-color);
  width: min(100%, 30em);
  margin-top: 1em;
  margin-bottom: 1.3em;
  font-size: 1.1rem;
  line-height: 1.5em;
}

.guide-card-1-section .guide-card-1-content .view-online-link {
  color: var(--blue-color);
  text-decoration: none;
  font-size: 1.1rem;
}

.guide-card-1-section .guide-card-1-content .view-online-link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 48em) {
  .guide-card-1-section {
    flex-direction: row;
    justify-content: center;
    margin: 5em 3.5em;
  }

  .guide-card-1-section .guide-card-1-image {
    width: 200em;
    height: 30em;
    margin-right: 2em;
  }

  .guide-card-1-section .guide-card-1-content {
    align-self: flex-start;
    margin-top: 2em;
  }
}

@media screen and (min-width: 63em) {
  .guide-card-1-section {
    margin: 5em 7em;
  }
}

/* Guide Card 2 */
.guide-card-2-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em 1.2em;
}

.guide-card-2-section .guide-card-2-image {
  width: 100%;
}

.guide-card-2-section .guide-card-2-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.guide-card-2-section .guide-card-2-content {
  margin-top: 2em;
}

.guide-card-2-section .guide-card-2-content h1 {
  color: var(--black-color);
  font-size: min(max(1.8rem, 3vw), 2.3rem);
}

.guide-card-2-section .guide-card-2-content p {
  color: var(--black-color);
  width: min(100%, 30em);
  margin-top: 1em;
  margin-bottom: 1.3em;
  font-size: 1.1rem;
  line-height: 1.5em;
}

.guide-card-2-section .guide-card-2-content .view-online-link {
  color: var(--blue-color);
  text-decoration: none;
  font-size: 1.1rem;
}

.guide-card-2-section .guide-card-2-content .view-online-link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 48em) {
  .guide-card-2-section {
    flex-direction: row-reverse;
    justify-content: center;
    margin: 7em 3.5em;
  }

  .guide-card-2-section .guide-card-2-image {
    width: 130em;
    height: 30em;
    margin-left: 2em;
  }

  .guide-card-2-section .guide-card-2-content {
    align-self: flex-start;
    margin-top: 2em;
  }
}

@media screen and (min-width: 63em) {
  .guide-card-2-section {
    margin: 7em 7em;
  }
}

/* Guide Card 3 */
.guide-card-3-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em 1.2em;
}

.guide-card-3-section .guide-card-3-image {
  width: 100%;
}

.guide-card-3-section .guide-card-3-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.guide-card-3-section .guide-card-3-content {
  margin-top: 2em;
}

.guide-card-3-section .guide-card-3-content h1 {
  color: var(--black-color);
  font-size: min(max(1.8rem, 3vw), 2.3rem);
}

.guide-card-3-section .guide-card-3-content p {
  color: var(--black-color);
  width: min(100%, 30em);
  margin-top: 1em;
  margin-bottom: 1.3em;
  font-size: 1.1rem;
  line-height: 1.5em;
}

.guide-card-3-section .guide-card-3-content .view-online-link {
  color: var(--blue-color);
  text-decoration: none;
  font-size: 1.1rem;
}

.guide-card-3-section .guide-card-3-content .view-online-link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 48em) {
  .guide-card-3-section {
    flex-direction: row;
    justify-content: center;
    margin: 5em 3.5em;
  }

  .guide-card-3-section .guide-card-3-image {
    width: 130em;
    height: 30em;
    margin-right: 2em;
  }

  .guide-card-3-section .guide-card-3-content {
    align-self: flex-start;
    margin-top: 2em;
  }
}

@media screen and (min-width: 63em) {
  .guide-card-3-section {
    margin: 5em 7em;
  }
}

/* Personalized Card Section */
.personalized-card-section {
  background: var(--dark-green);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  align-items: flex-start;
  grid-gap: 3.5em;
  padding: 1.5em;
  margin: 7em 1em;
  border-radius: 20px;
}

.personalized-card-section .personalized-card-content .card-icon {
  color: var(--white-color);
  font-size: 2rem;
  text-align: left;
  margin-bottom: 0.5em;
  text-align: left;
}

.personalized-card-section .personalized-card-content h1 {
  color: var(--white-color);
  font-size: 1.6rem;
}

.personalized-card-section .personalized-card-content p {
  color: var(--white-color);
  margin-top: 0.7em;
  line-height: 1.6em;
  font-size: 1rem;
}

@media screen and (min-width: 48em) {
  .personalized-card-section {
    padding: 3em 4em;
    margin: 7em 5em;
    grid-gap: 5em;
  }
}

/* Guide Footer */
.guide-footer {
  background: var(--dark-color);
  padding: 0em 1em 3.5em 1em;
}

.guide-footer .guide-footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guide-footer .guide-footer-content div:first-child {
  width: min(90%, 20em);
  height: 10em;
}

.guide-footer .guide-footer-content div:first-child img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.guide-footer .guide-footer-content div:nth-child(2) p a {
  color: var(--white-color);
  text-decoration: none;
  line-height: 2.5em;
  transition: color 0.35s ease-in-out;
  font-size: 1.15rem;
}

.guide-footer .guide-footer-content div:nth-child(2) p a:hover {
  color: var(--yellow-color);
}

/* Social Links */
.guide-footer-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.1em;
}

.guide-footer-social-links a {
  font-size: 2.2rem;
  margin: 0em 0.5em;
  color: var(--dark-gray-color);
  transition: color 0.35s ease-in-out;
}

.guide-footer-social-links a:hover {
  color: var(--dark-gray-color-hover);
}

/* Copyright Section */
.guide-copyright-section {
  margin-top: 1.25em;
}

.guide-copyright-section .guide-copyright-divider {
  background: var(--light-gray-color);
  width: 100%;
  height: 0.25em;
}

.guide-copyright-section p {
  color: var(--light-gray-color);
  text-align: center;
  margin-top: 1.5em;
  font-size: 0.85rem;
}

@media screen and (min-width: 48em) {
  .guide-footer {
    padding: 5em;
  }

  .guide-footer .guide-footer-content {
    flex-direction: row;
    justify-content: space-around;
  }

  .guide-footer .guide-footer-content div:first-child {
    width: min(100%, 23em);
  }
}
