@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

:root {
  --white-color: #fff;
  --black-color: #000;
  --orange-color: #c34415;
  --yellow-color: #ffd13b;
  --dark-gray-color: #555555;
  --dark-gray-color-hover: hsl(0, 0%, 45%);
  --light-gray-color: #a4a4a4;
  --pink-color: #ec2d6c;
  --pink-color-hover: hsl(340, 83%, 60%);
  --dark-green: #547974;
  --dark-green-hover: hsl(172, 18%, 35%);
  --dark-color: #2d2d2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Navbar */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-area {
  background-position: center center;
  background-size: cover;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
}

.navbar-area {
  background-color: transparent;
  padding: 0.3em;
  transition: background 0.5s ease-in-out;
}

.navbar-scroll {
  background: var(--black-color);
}

.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Site Logo */
a.site-logo {
  width: 15em;
  height: 3em;
}

a.site-logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* Nav Links */
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.site-navbar ul li a {
  color: var(--white-color);
  padding: 1.5em 1.1em;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
}

.site-navbar ul li a::after {
  content: "";
  background: var(--white-color);
  width: 0%;
  height: 0.25em;
  position: relative;
  top: 0.5em;
  display: block;
  transition: width 0.5s ease-in-out;
}

.site-navbar ul li a:hover::after {
  width: 100%;
}

/* Hamburger Icon */
.nav-toggler {
  border: none;
  outline: none;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: var(--white-color);
  display: block;
  transition: 0.3s;
}

.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}

.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}

.nav-toggler.toggler-open span {
  background-color: transparent;
}

.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}

/* Navbar Mobile View */
@media screen and (max-width: 48em) {
  .container {
    max-width: 720px;
  }

  .navbar-area {
    background: var(--black-color);
  }

  .nav-toggler {
    display: block;
  }

  .site-navbar {
    min-height: 60px;
    justify-content: flex-start;
  }

  /* Site Logo */
  a.site-logo {
    margin-left: 1em;
  }

  /* Nav Links */
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    background-color: var(--black-color);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
  }

  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }

  .site-navbar ul li a {
    background: transparent;
    padding: 1.2em;
    transition: background 0.5s ease-in-out;
  }

  .site-navbar ul li a:hover {
    background: var(--orange-color);
  }

  .site-navbar ul li a:hover::after {
    width: 0;
  }

  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }

  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
}

/* Travel Hero Section */
.travel-hero-section {
  background: url("/assets/waystotravelpage/RoadTrips.jpg"), rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center top;
  height: 30em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.travel-hero-section .travel-hero-content {
  margin-top: 6em;
  width: min(90%, 37em);
}

.travel-hero-section .travel-hero-content h1 {
  color: var(--white-color);
  font-size: min(max(1.8rem, 3.5vw), 3rem);
  text-align: center;
}

@media screen and (min-width: 48em) {
  .travel-hero-section {
    height: 100vh;
    width: 100%;
  }
}

/* Travel Card Section */
.travel-card-section {
  margin-top: 3.5em;
  margin-bottom: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travel-card-section h1 {
  color: var(--black-color);
  text-align: center;
  font-size: min(max(1.5rem, 2vw), 1.8rem);
  width: min(90%, 25em);
}

.travel-card-section .travel-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  grid-gap: 3em;
  margin: 3em 1em 0em 1em;
}

.travel-card-section .travel-card-container .travel-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.travel-card-section
  .travel-card-container
  .travel-card-content
  .travel-card-img {
  width: 100%;
  overflow: hidden;
}

.travel-card-section
  .travel-card-container
  .travel-card-content
  .travel-card-img
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.35s ease-in-out;
}

.travel-card-section
  .travel-card-container
  .travel-card-content
  .travel-card-img
  img:hover {
  transform: scale(1.8);
}

.travel-card-section .travel-card-container .travel-card-content h2 {
  margin-top: 0.7em;
  font-size: 1.5rem;
}

.travel-card-section .travel-card-container .travel-card-content p {
  width: 100%;
  margin-top: 1em;
  font-size: 1rem;
  line-height: 1.4em;
}

@media screen and (min-width: 48em) {
  .travel-card-section .travel-card-container {
    margin: 3em 3em 0em 3em;
  }
}

@media screen and (min-width: 63em) {
  .travel-card-section .travel-card-container {
    margin: 3em 7em 0em 7em;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4em;
  }
}

/* Travel Footer */
.travel-footer {
  background: var(--dark-color);
  padding: 0em 1em 3.5em 1em;
}

.travel-footer .travel-footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travel-footer .travel-footer-content div:first-child {
  width: min(90%, 20em);
  height: 10em;
}

.travel-footer .travel-footer-content div:first-child img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.travel-footer .travel-footer-content div:nth-child(2) p a {
  color: var(--white-color);
  text-decoration: none;
  line-height: 2.5em;
  transition: color 0.35s ease-in-out;
  font-size: 1.15rem;
}

.travel-footer .travel-footer-content div:nth-child(2) p a:hover {
  color: var(--yellow-color);
}

/* Social Links */
.travel-footer-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.1em;
}

.travel-footer-social-links a {
  font-size: 2.2rem;
  margin: 0em 0.5em;
  color: var(--dark-gray-color);
  transition: color 0.35s ease-in-out;
}

.travel-footer-social-links a:hover {
  color: var(--dark-gray-color-hover);
}

/* Copyright Section */
.travel-copyright-section {
  margin-top: 1.25em;
}

.travel-copyright-section .travel-copyright-divider {
  background: var(--light-gray-color);
  width: 100%;
  height: 0.25em;
}

.travel-copyright-section p {
  color: var(--light-gray-color);
  text-align: center;
  margin-top: 1.5em;
  font-size: 0.85rem;
}

@media screen and (min-width: 48em) {
  .travel-footer {
    padding: 5em;
  }

  .travel-footer .travel-footer-content {
    flex-direction: row;
    justify-content: space-around;
  }

  .travel-footer .travel-footer-content div:first-child {
    width: min(100%, 23em);
  }
}

/* Scroll to Top */
.scroll-to-up {
  position: fixed;
  z-index: 1;
  bottom: 0.8em;
  right: 0.8em;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-1em);
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.scroll-to-up button {
  font-size: 2rem;
  border: none;
  color: var(--pink-color);
  background: transparent;
  cursor: pointer;
  transition: color 0.35s ease-in-out;
}

.scroll-to-up button:hover {
  color: var(--pink-color-hover);
}

.scroll-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0em);
}

@media screen and (min-width: 48em) {
  .scroll-to-up {
    bottom: 1.3em;
    right: 1.3em;
  }

  .scroll-to-up button {
    font-size: 2.6rem;
  }
}
