@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

:root {
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Navbar */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-area {
  background: #000;
  background-position: center center;
  background-size: cover;
}

.navbar-area {
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #000;
}

.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Site Logo */
a.site-logo {
  width: 15em;
  height: 3em;
}

a.site-logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* Nav Links */
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.site-navbar ul li a {
  color: #fff;
  padding: 1.5em 1.1em;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
}

.site-navbar ul li a::after {
  content: "";
  background: #fff;
  width: 0%;
  height: 0.25em;
  position: relative;
  top: 0.5em;
  display: block;
  transition: width 0.5s ease-in-out;
}

.site-navbar ul li a:hover::after {
  width: 100%;
}

/* Hamburger Icon */
.nav-toggler {
  border: none;
  outline: none;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: 0.3s;
}

.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}

.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}

.nav-toggler.toggler-open span {
  background-color: transparent;
}

.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}

/* Navbar Mobile View */
@media screen and (max-width: 48em) {
  .container {
    max-width: 720px;
  }

  .nav-toggler {
    display: block;
  }

  .site-navbar {
    min-height: 60px;
    justify-content: flex-start;
  }

  /* Site Logo */
  a.site-logo {
    margin-left: 1em;
  }

  /* Nav Links */
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
  }

  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }

  .site-navbar ul li a {
    background: transparent;
    padding: 1.5em;
    transition: background 0.5s ease-in-out;
  }

  .site-navbar ul li a:hover {
    background: #555;
  }

  .site-navbar ul li a:hover::after {
    width: 0;
  }

  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }

  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
}

/* Hero Section */
.hero-section {
  background: url("/assets/homepage/HeroBackground.jpg"), rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  height: 25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-section .hero-content {
  margin: 0em 1em 4em 1.5em;
}

.hero-section .hero-content h1 {
  color: var(--white-color);
  font-size: min(max(2rem, 4vw), 3.3rem);
  width: min(100%, 15em);
}

.hero-section .hero-content p {
  color: var(--white-color);
  font-size: min(max(1.1rem, 2vw), 1.8rem);
  margin-top: 1em;
  font-weight: 700;
  width: min(100%, 20em);
}

@media screen and (min-width: 48em) {
  .hero-section {
    height: 90vh;
    width: 100%;
  }

  .hero-section .hero-content {
    margin-left: 4.5em;
    margin-bottom: 8em;
  }
}
